@page
@model ContactModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page with information about Hunter Wolves.</p>

<div>
    <h3>Meet the Team:</h3>
    <div>Sarah Sebestyen</div>
    <div>Carrie Driscoll</div>
    <div>Brandon North</div>
    <div>Muhammet Barut</div>
    <div>Lee Rohrer</div>
    <div>Michael Gribbins</div>
</div>
<br />
<div>
    <h3>About Us:</h3>
    <p>This site was created with love by the Hunter Wolves team (Carrie, Sarah, Mike, Mo, Brandon, and Lee). If you'd like to learn more, you can find us on Twitter (https://twitter.com/Wolves) or email us (wolvesrule@hunter.com),</p>
</div>
