@page
@model ContactModel
@{
    ViewData["Title"] = "Gallery";
}
<h1>@ViewData["Title"]</h1>

<p>This is a page with images for wolves.</p>

<div>
    <img src="./images/gall001.jpg" />
    <img src="./images/gall002.jpg" />
    <img src="./images/gall003.jpg" />
    <img src="./images/gall004.jpg" />
</div>

<div>
    <img src="./images/family001.jpg" />
    <img src="./images/cute001.jpg" />
    <img src="./images/cute002.jpg" />
    <img src="./images/cute003.jpg" />
</div>

