@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <div style="background-image: url(https://i.guim.co.uk/img/media/8f02bb49224d9a94699b75213664bf898617c062/0_353_5315_3190/master/5315.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=c812148bc6ffc9517558901b73d9a626);height: 450px; width: 100%; background-size: cover; background-position: center; display: flex; align-items: center; color: white; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">        <h1>            Welcome to HunterWolves        </h1> </div>

<div class="text-center">
    <p>A place to educate the public about wolves and clear up misconseptions about them.</p>
</div>

<div class="main-body">
    <div class="habitat">
        <h3>Scientific Name:</h3>
        <p>Canis-Lupis</p>
    </div>  
    <div style="display:inline">
        <div class="habitat">
            <h3>Habitats:</h3>        
            <img src="./images/group001.jpg">
            <p>Wolves can thrive in a diversity of habitats from the tundra to woodlands, forests, grasslands and deserts. Wolves are carnivores—they prefer to eat large hoofed mammals such as deer, elk, bison, and moose. They also hunt smaller mammals such as beavers, rodents, and hares.</p>
        </div>
    </div>
    <div class="communication">
        <h3>How Wolves Communicate:</h3>
        <span>Wolves use their sense of smell to communicate through chemical messages. These chemical messages between members of the same species are known as pheromones.  Sources of pheromones in wolves include glands on the toes, tail, eyes, anus, genitalia and skin.</span>
    </div>
    <div class="reproductive">
        <h3>Wolf Reproduction Facts:</h3>
        <p>Who reproduces in a wolf pack?  Usually only the dominant pair breeds, however in areas where there is a high ratio of prey per wolf, such as in Yellowstone National Park, there can be multiple litters per pack.</p>
    </div>
    <div class="organization">
        <h3>Wolf Hierarchy:</h3>
        <p>Wolfs live in a pack structure. This pack is lead by an Alpha male who leads the overall pack. The other members coordinate with one another.  Opposite to the Alpha, is the Scapegoat, an individual that is at the bottom of the hierarchy and tends to be ostracized.</p>
    </div>   
    <div class="culture">
        <h3>Wolves in Popular Culture:</h3>
        <p>Wolves have been featured in books, fairy tales, cartoons, and movies.  They have filled the role of hero, villian, and symbols for generations.</p>
        <div class="culture-row" style="display: flex;">
            <div>
                <img src="./images/movie001.jpg" style="max-width: 80%; max-height: 80%;">
                <span style="display: block;">Balto</span>
            </div>
            <div>
                <img src="./images/bigbad01.jpg" style="max-width: 80%; max-height: 80%;"/>
                <span style="display: block;">Little Red Riding Hood</span>
            </div>
            <div>
                <img src="./images/bigbad02.jpg" style="max-width: 80%; max-height: 80%;"/>
                <span style="display: block;">Big Bad Wolf</span>
            </div>
            <div>
                <img src="./images/spirit001.jpg" style="max-width: 80%; max-height: 80%;"/>
                <span style="display: block;">Spirit Guide</span>
            </div>
        </div>
    </div>
</div>



