@page
@model ThanksModel
@{
    ViewData["Title"] = "Thanks";
}
<h1>@ViewData["Title"]</h1>

<p>Thank you for your interest and support. We will give you a howl.</p>

<img src="./images/howl001.jpg" />
